TELEGRAM_BOT_TOKEN=your_telegram_bot_token
HELIUS_API_KEY=https://mainnet.helius-rpc.com/?api-key=your_helius_api_key
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
ADMIN_USER_ID=your_telegram_user_id
